body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

#container {
	width: 650px;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-family: 'Great Vibes', cursive;
	color: #9d222a;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 50px;
}

select {
	color: #d1d7b9;
	width: 290px;
	height: 40px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-left: 15px;
}

.first_select {
	margin-right: 10px;
}

#select_options ul {
	padding: 0;
    display: inline-block;
    text-align: left;
   	z-index: 1000;
}

#select_options ul > li {
	list-style-type: none;
}

.first_select > .disabled i {
	color: black;
	margin-left: 145px;
}

.disabled i {
	color: black;
	margin-left: 126px;
}

li i {
	color: black;
	margin-left: 158px;
	font-size: 12px !important;
}


.disabled {
	color: #d1d7b9;
	width: 250px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 15px 5px 10px 20px;
	background-color: white;
	display: inline-block;
	border-bottom: none;
	font-size: 12px;
}

.active {
	color: #d1d7b9;
	width: 250px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 15px 5px 10px 20px;
	background-color: white;
	display: inline-block;
	border-bottom: none;
}

option {
	background-color: #e3dcdd;
	color: #93716e;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

li {
	background-color: #e3dcdd;
	color: #93716e;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #ccc;
	display: none;
	font-size: 14px;
}

.search_all {
	color: #9d222a;
}

img {
	width: 20%;
	margin: 0 10px;
}

.columns {
	vertical-align: top;
	margin-top: 10px;
}

.columns td {
	padding: 20px;
}

#form_wrap {
	background-color: #f4f4f4;
	text-align: center;
	padding: 90px 20px 20px;
	z-index: 100;
}

#logo_wrap {
	height: 700px;
}

#submit {
	font-family: 'Raleway', sans-serif;
	background-color: #9d222a;
	color: #fff;
	display: block;
	margin: 0 auto;
	height: 35px;
	width: 130px;
	padding: 5px;
	font-weight: 700;
	border: none;
	z-index: 500;
}

.display {
	opacity: .02;
}

.selected {
	opacity: 1;
}