body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

#container {
	width: 650px;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-family: 'Great Vibes', cursive;
	color: #9d222a;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 50px;
}

select {
	color: #d1d7b9;
	width: 290px;
	height: 40px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-left: 15px;
}

#first_select {
	margin-right: 10px;
}

option {
	background-color: #e3dcdd;
	color: #93716e;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 10px;
	border-bottom: 2px solid #000;
}

img {
	width: 20%;
	margin: 0 10px;
}

.columns {
	vertical-align: top;
	margin-top: 10px;
}

.columns td {
	padding: 20px;
}

option:hover {
	color: #9d222a;
	background-color: none;
}

#form_wrap {
	background-color: #f4f4f4;
	text-align: center;
	padding: 90px 20px 20px;
}

#logo_wrap {
	height: 700px;
}

#submit {
	font-family: 'Raleway', sans-serif;
	background-color: #9d222a;
	color: #fff;
	display: block;
	margin: 0 auto;
	height: 35px;
	width: 130px;
	padding: 5px;
	font-weight: 700;
	border: none;
}

.display {
	opacity: .02;
}

.selected {
	opacity: 1;
}